# Go
golang/server
golang/*.exe

# Node.js
expressjs/node_modules/
expressjs/dist/
expressjs/.env

# Admin UI
admin/node_modules/
admin/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Binaries
*.exe
*.dll
*.so
*.dylib
