# Go
golang/server
golang/*.exe

# Node.js
expressjs/node_modules/
expressjs/dist/
expressjs/.env

# Admin UI
admin/node_modules/
admin/dist/

# Client UI
client/node_modules/
client/dist/
client/dist-*/
client/.vite/

# IDE
.idea/
.vscode/
*.swp
*.swo

# File uploads
uploads/

# OS
.DS_Store
Thumbs.db

# Binaries
*.exe
*.dll
*.so
*.dylib
