@import "tailwindcss/base";
@import "tailwindcss/components";

@import "./layout.css";
@import "./button.css";
@import "./table.css";
@import "./form.css";
@import "./modal.css";
@import "./badge.css";
@import "./toast.css";
@import "./pagination.css";
@import "./help.css";
@import "./diagram.css";
@import "./wizard.css";
@import "./dashboard.css";

@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased;
  }
}
